name: Build Jupyter Book
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
        with:
          version: 0.4.x
      - run: uv venv
      - run: source .venv/bin/activate && uv pip install jupyter-book
      - run: uv run jupyter-book build mybook
      - uses: actions/upload-pages-artifact@v3
        with:
          path: mybook/_build/html
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4